.header {
  background-color: #a02d28;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.logo {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 40px;
  height: 76px;
  margin: 0 auto;
  max-width: 1140px;
}

.nav-container {
  background-color: #c03832;
}

.link-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  min-height: 60px;
}

.link-div a {
  color: white;
  text-decoration: none;
}

.link-div a:hover {
  text-decoration: underline;
}

.nav-button {
  background-color: #c03832;
  border: none;
  color: white;
  font-size: 17px;
  padding: 0;
}

.nav-button:hover {
  cursor: pointer;
}

.menuIcon {
  display: none;
}

@media (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .hidden {
    display: none;
  }

  .nav-container {
    background-color: #c03832;
    height: 430px;
    left: 0;
    padding: 1rem;
    position: fixed;
    top: 76px;
    width: 300px;
    z-index: 20;
  }

  .link-container {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 25px;
  }

  .link-div a {
    color: white;
    font-size: 22px;
  }

  .link-div a:active {
    text-decoration: underline;
  }

  .menuIcon {
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 2.3rem;
    margin-left: 10px;
  }

  .logo {
    display: inline-flex;
    margin-left: 7px;
  }
}

/* .navbar {
    align-items: center;
    background-color: #b22222;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    @media(min-width: 992px){
      justify-content: flex-start;
    }
  }
  .navbar-inner {
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
    max-width: 1140px; 
    width: 100%;

  }
  .logo {
    color: white;
    font-size: 1.5rem;
  }

  
  .menuIcon {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
  }
  .menuList {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    list-style: none;
  }
  .menuList li a {
    color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem ;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    .menuList {
      background-color: #c03832;
      display: none;
      flex-direction: column;
      height: calc(100vh - 60px);
      left: 0;
      padding: 1rem;
      position: fixed;
      top: 45px;
      width: 200px;
      z-index: 20;
    }
    .menuIcon {
      display: block;
    }
    .navbar-inner {
      display: flex;
      justify-content: flex-start;
    }
    .showMenu {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .menuIcon {
      display: none;
    }
    .menuList {
      justify-content: flex-start;
      padding-inline-start: 0;
    }
  }  */
