/* .cta-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 6px;
    grid-area: CTA;
    justify-content: flex-start;
    margin: 5px 5px 0;
   }

.cta-container a {
    background-color: #65c82d;
    color: #fff;
    display: block;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    width: 100%;
   } */