.badge-container {
    align-items: center;
    background-color: #f5f4f4;
    display: flex;
    height: 40px;
    justify-content: space-around;
    min-width: 180px;
    width: 100%;
}
.badge-container div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.badge-container div img {
    display: block;
    margin-left: 12px
}

.badge-container div span {
    display: block;
    font-size: 12px;
}
    