.navbar {
    align-items: center;
    background-color: #b22222;
    display: flex;
    justify-content: flex-start;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    @media(min-width: 992px){
      justify-content: flex-start;
    }
  }
  .navbar-inner {
    align-items: center;
    /* display: flex; */
    justify-content: space-between; /* Adjust to space items evenly */
    margin: 0 auto;
    max-width: 1140px; /* Match the operator container width */
    width: 100%;

  }
  .logo {
    color: white;
    font-size: 1.5rem;
  }

  
  .menuIcon {
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
  }
  .menuList {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    list-style: none;
  }
  .menuList li a {
    color: white;
    cursor: pointer;
    padding-bottom: 1rem;
    padding-top: 1rem ;
    text-decoration: none;
  }
  @media (max-width: 767px) {
    .menuList {
      background-color: #b22222;
      display: none;
      flex-direction: column;
      height: calc(100vh - 60px);
      left: 0;
      padding: 1rem 0;
      position: fixed;
      top: 45px;
      width: 200px;
      z-index: 20;
    }
    .menuIcon {
      display: block;
    }
    .navbar-inner {
      display: flex;
      justify-content: flex-start;
    }
    .showMenu {
      display: flex;
    }
  }
  @media (min-width: 768px) {
    .menuIcon {
      display: none;
    }
    .menuList {
      justify-content: flex-start;
      padding-inline-start: 0;
    }
  } 